<!DOCTYPE html>
<html>
<div align="center">
<img  src="https://img.clipartfest.com/65f90c0a56fdd4529beba1cda0755217_download-this-image-as-red-check-mark-clip-art_600-461.png" style="width:250px;height:200px;">

<head><div align="center">
<font size="6" color="white">
<p1 style="font-family:Georgia;">
Driver confirmed!</p1></font>
<title>Text Input Control</title>
</head>
<body>
<style>
body {
background-color: #78D1C0;
}

</style>

<font size="5" color="white">
<p1 style="font-family:verdana;">
<div align="center">
<p>You've earned 20 points</p>
<p>You have logged out.</p>
<form action="/index/" method="POST">{% csrf_token %}
<div align= "center">

<p><button type="submit">Home</button>
</form>
<p>
<div align="center">


</body>
</html>
